body, html {
    margin: 0;
    padding: 0;
}

header{
    background-color: azure;
    height: 50px;
    display: flex;
    border: 10px slategrey solid;
    border-radius: 12px;
    box-shadow: 12px 12px 2px rgb(0, 0, 0, .5);
}

nav{
    display: flex;
    align-items: center;
}

a{
    margin: 15px;
    color: black;
    text-decoration: none;

}
#title{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

#home{
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 4fr 4fr;
    gap: 15px;
    margin: 20px;

    #home1{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #home2{
        grid-column: 2/2;
        grid-row: 2/2;
    }

    #home1, #home2{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        justify-content: center;
        align-content: center;
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
    .divhome{
        font-family: 'Courier New', Courier, monospace;
    }
}

article a{
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgb(0, 0, 0, .5);
    background-color: lightgray;
}

.temario{
    border-radius: 14px;
    width: 20%;
    display: flex;
    gap: 20px;
}

#javascript{
    height: 70px;
}
footer{
    margin-top: 100px ;
    background-color:darkgrey;
    border-radius: 14px;
    border: 10px slategrey solid;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding: 20px;
}